<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h2> Welcome to Hacker News! </h2>

    <div class='col-md-8'>
      <ul>
        <li ng-repeat="item in webLinks | orderBy:'vote':true">
          <p><a href={{item.url}} target=_blank>{{item.name}}</a>{{item.vote}}</p>
          <p><a ui-sref ='comments({webLinkId: item.id})'>{{item.numberOfComments}} &nbsp comments</a></p>
        <button type="click" ng-click= 'webLinksFactory.upVote(item)' class= "btn btn-default" class="upvote">Upvote</button>
        <button type-"click" ng-click='webLinksFactory.downVote(item)' class="btn btn-default" class="downvote">Downvote</button>
        </li>
      </ul>

    </div>
    <div class='col-md-4'>
        <form ng-submit= 'webLinksFactory.addWebLink()' class='form-inline' role='form'>
          <div class='form-group'>
            <h3> Post Title </h3>
            <input type='text' ng-model='webLinksFactory.webLinkName' class='form-control'>
            <h3> Website URL </h3>
            <input type='text' ng-model='webLinksFactory.webLinkUrl' class='form-control'>
          </div>
          <button type='submit' class='btn btn-default'>Submit</button>
        </form>
    </div>
  </body>
</html>
